@font-face {
  font-family: Fredoka;
  src: url("/fonts/Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: bold;
  src: url("/fonts/Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: 500;
  src: url("/fonts/Fredoka-Medium.ttf") format("truetype");
}

:root {
  --bs-body-font-family: fredoka;

  scrollbar-width: auto;
  scroll-behavior: unset;
}

.wrapper {
  margin-left: 400px;
}

@media (width <= 992px) {
  .wrapper {
    margin-left: 0!important;
  }

  .w-lg-100 {
    width: 100%!important;
  }
}

.table tbody tr:last-child td {
  border-bottom: 0;
}
