.btn, .btn * {
  font-weight: 500!important;
}

.btn-primary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-primary-hover);
  --bs-btn-active-border-color: var(--bs-primary-hover);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-danger {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-bg: var(--bs-danger);
  --bs-btn-border-color: var(--bs-danger);
  --bs-btn-hover-bg: var(--bs-danger-hover);
  --bs-btn-hover-border-color: var(--bs-danger-hover);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-danger-hover);
  --bs-btn-active-border-color: var(--bs-danger-hover);
  --bs-btn-disabled-bg: var(--bs-danger);
  --bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-twitch {
  --bs-btn-color: var(--bs-body-text);
  --bs-btn-hover-color: var(--bs-body-text);
  --bs-btn-bg: var(--bs-twitch);
  --bs-btn-border-color: var(--bs-twitch);
  --bs-btn-hover-bg: var(--bs-twitch-hover);
  --bs-btn-hover-border-color: var(--bs-twitch-hover);
  --bs-btn-active-color: var(--bs-body-text);
  --bs-btn-active-bg: var(--bs-twitch-hover);
  --bs-btn-active-border-color: var(--bs-twitch-hover);
  --bs-btn-disabled-bg: var(--bs-twitch);
  --bs-btn-disabled-border-color: var(--bs-twitch);
}
