@font-face {
  font-family: Fredoka;
  src: url("/fonts/Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: bold;
  src: url("/fonts/Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: 500;
  src: url("/fonts/Fredoka-Medium.ttf") format("truetype");
}

:root {
  --bs-body-font-family: fredoka;

  scrollbar-width: auto;
  scroll-behavior: unset;
}

@media (max-width: 992px) {
  .w-lg-100 {
    width: 100%!important;
  }
}
